<launch>

    <remap from="/rtabmap/grid_map"         to="/map" />

    <include file="$(find realsense2_camera)/launch/rs_camera.launch">
        <arg name="align_depth"             value="true" />
        <arg name="unite_imu_method"        value="linear_interpolation" />
    </include>

    <node name="imu_filter" pkg="imu_filter_madgwick" type="imu_filter_node" output="screen" args="">
        <param name="_use_mag"                value="false" />
        <param name="_publish_tf"             value="false" />
        <param name="_world_frame"            value="enu" />

        <remap from="/imu/data_raw"         to="/camera/imu" />
        <remap from="/imu/data"             to="/rtabmap/imu" />
    </node>

    <include file="$(find rtabmap_ros)/launch/rtabmap.launch">
        <arg name="rtabmap_args"            value="--delete_db_on_start --Optimizer/GravitySigma 0.3" />
        <arg name="approx_sync"             value="false" />
        <arg name="localization"            value="false" />

        <arg name="depth_topic"             value="/camera/aligned_depth_to_color/image_raw" />
        <arg name="rgb_topic"                value="/camera/color/image_raw" />
        <arg name="camera_info_topic"        value="/camera/color/camera_info" />
        <arg name="imu_topic"               value="/rtabmap/imu" /> 

    </include>

    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find humble)/launch/rviz/rs_mapping_config.rviz" />

    <!-- for future use: delete_db_on_start -->

</launch>